/*------------------------------------------------------------------------------
     Global Documentation Styles
------------------------------------------------------------------------------*/

html {
  height:100%;
}

body {
  font: 13px helvetica,arial,freesans,clean,sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #393939;
  margin: 10px;
  padding: 0px;
  height: 100%;
}

p {
  margin: 1em 0;
}

h1 {
  font-size: 20px;
  border-bottom: 1px solid #cccccc;
  padding: .5em 0;
  margin: 2em 0 1em;
}

h1:first-child {
  margin: 0 0 1em;
}

h2 {
  font-size: 16px;
  color: #333;
  margin: 2em auto 1em;
}

  body.api .content h2 {
    background: transparent url(../images/crud-sprite.png) left 2px no-repeat;
    padding-left: 22px;
  }

h2 span.step {
  color: #666;
}

h3 {
  font-size: 14px;
  color: #333;
  margin: 1.5em 0 .5em;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
  color: #666;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration:underline;
}

blockquote {
  margin:0 -5px;
  padding: 0px 20px;
}

ul,
li,
ol {
  margin: 20px;
  padding: 0px;
}

dt {
  font-weight: bold;
}

dd {
  padding-left: 1em;
  margin-bottom: 1em;
}

dd + dd {
  margin-bottom: 0;
}

span.attention,
p.attention {
  color: #e98400;
  font-style: italic;
}

a img {
  border: 0px;
}

